@font-face {
  font-family: FiraSans;
  src: url('../fonts/Fira Sans/FiraSans-Regular.woff');
}

body {
  font-family: FiraSans;
  margin: 0;
}
img {
  position: absolute;
  right: 10px;
  top: 10px;
}
p {
    margin-right:0;
    overflow:auto;
    display:block;
}

header {
  padding: 2px 10px 10px;
  background-color: rgba(18, 64, 171, 0.85);
  color: white;
  text-shadow: 1px 1px 1px gray;
}

.intro {
  margin-right:221px;
  overflow:auto;
  display:block;
  /*padding: 10px;*/
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  padding: 0;
}

#content {
  padding: 5px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background-color: rgba(255, 170, 0, 0.85);
}

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
}

#sidebar ul {
  list-style-type: none;
  padding-inline-start: 2em;
}

#sidebar ul li {
  padding-bottom: 1em;
}