@font-face {
  font-family: FiraSans;
  src: url('../fonts/Fira Sans/FiraSans-Regular.woff');
}

body {
  font-family: FiraSans;
}
img {
  position: absolute;
  right: 10px;
  top: 10px;
}
p {
    margin-right:0;
    overflow:auto;
    display:block;
}

.intro {
  margin-right:221px;
  overflow:auto;
  display:block;
  /*padding: 10px;*/
}
.left {
    position:absolute;
    left:0;
    top:142px;
    height:100%;
    /*bottom: 0;*/
    width: 200px;
    padding: 10px;
    background-color: rgba(255, 170, 0, 0.85);
    /*background-color: rgba(255, 116, 0, 0.8);*/
}
.main {
    position: absolute;
    left:220px;
    top:142px;
    right:0;
    /*right:210px;*/
    padding: 10px;
    bottom:0;
    /*background-color: rgba(255, 211, 0, 0.8);*/
}
.top {
    position:absolute;
    right:0;
    left:0;
    top: 0;
    /*left:210px;*/
    height: 130px;
    padding: 2px 10px 10px;
    background-color: rgba(18, 64, 171, 0.85);
    color: white;
    text-shadow: 1px 1px 1px gray;
}
